a { color: #000; }

input[type=text] {
	width: 200px;
}
form {
	display: inline;
}

dl.form dt:after { 
	content: ":" 
}

dl.form dt {
	min-height: 1em; /* to make sure it stays aligned if it's empty */
	float: left;
	clear: left;
}

dl.form dd {
	min-height: 1em;
	margin-left: 100px;
	padding-left: 10px;
}

dl.snippets dt:after { 
	content: ":" 
}
dl.snippets dd {
   margin-left: 20px;
}

#title {
	margin-bottom: 30px;
}

.bare {
	text-decoration: none;
	color: #000;
}

.bare:hover {
	text-decoration: underline;
}

.domain {
	font-style: italic;
	color: #999;
}

.header-small-link {
	font-size: .7em;
	font-weight: normal;
	margin-left: .5em;
}

body {
	background-color: #ccc;
}

#container {
	width: 900px;
	margin: auto;
}

#content {
	background-color: #fff;
	padding: 10px;
}

.link {
	line-height: 1.6em;
}